/* Image for contact page */
.contact-background{
    background-image: url(../img/contact-us-learn-to-scuba-dive.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}