{% extends "base.html" %}
{% load static %}
<!-- {# {% load bag_tools %} #} -->


{% block content %}
<div class="container d-flex justify-content-center">
    <h1 class = "d-inline-block">Shopping Cart</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in bag_items %}
                        <tr>
                            <td class="w-25">
                                   <img class="img-fluid rounded" src="{% if item.inventory.product.image %} {{ item.inventory.product.image.url }} {% else %} {% static 'img/garbage-home-triple.webp' %} {% endif %}"
                                   alt="{{item.inventory.product.friendly_name}}">
                            </td>
                            <td>
                                <p>
                                    {{item.inventory.product.brand | upper }}
                                </p>
                                <p>
                                    {{item.inventory.product.friendly_name}}
                                </p>
                                {% if item.inventory.product.size %}
                                <p>
                                    {{item.inventory.product.size}}
                                </p>
                                {% endif %}
                            </td>
                            <td>{{item.inventory.product.price}}</td>
                            <td>
                                <div class="container">
                                    <div class="col-lg-2">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button"
                                                    class="quantity-left-minus btn btn-danger btn-number"
                                                    data-type="minus" data-field="">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input type="number" id="quantity" name="quantity"
                                                class="form-control input-number" value="{{item.quantity}}" min="1" max="100" data-inventory-count = "{{item.inventory.count}}">
                                            <span class="input-group-btn">
                                                <button type="button"
                                                    class="quantity-right-plus btn btn-success btn-number"
                                                    data-type="plus" data-field="">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>£{{ item.subtotal }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>Your bag is empty</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script src="{% static 'bag/js/bag.js' %}"></script>
{% endblock %}