{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page title text -->
<div class="container content">
    <div class="row">
        <div class="col">
            <h1 class="my-5">
                SHOPPING CART
            </h1>
        </div>
    </div>
</div>
<!-- Dynamic responsive table containing bag contents -->
<div class="d-none d-md-block container content">
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="container table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in bag_items %}
                        <tr>
                            <td class="w-25">
                                <img class="img-fluid rounded h-150px" src="{% if item.inventory.product.image %} {{ item.inventory.product.image.url }} {% else %} {% static 'img/garbage-home-triple.webp' %} {% endif %}" alt="{{item.inventory.product.friendly_name}}">
                            </td>
                            <td>
                                <p>
                                    {{item.inventory.product.brand | upper }}
                                </p>
                                <p>
                                    {{item.inventory.product.friendly_name}}
                                </p>
                                <p>
                                    Size: {{item.inventory.size}}
                                </p>
                            </td>
                            <td>
                                {{item.inventory.product.price}}
                            </td>
                            <td style="width:150px">
                                <!-- Form to adjust item quantity in background -->
                                <form id="update_qty" method="POST" action="{% url 'adjust_bag' item.inventory.id %}">
                                    {% csrf_token %}
                                    <div class="input-group d-flex">
                                        <!-- Form buttons to decrease bag quantity disables at 0 -->
                                        <div class="input-group-prepend">
                                            <span class="input-group-btn">
                                                <button type="submit" class="quantity-left-minus btn btn-secondary bi bi-dash-lg" data-type="minus" data-field="">
                                                </button>
                                            </span>
                                        </div>
                                        <!-- Product quantity input js pulls in inventory count as max value -->
                                        <input type="number" id="quantity" name="quantity"
                                            class="form-control qty_input qty-input input-number"
                                            value="{{item.quantity}}" min="1" max="{{item.inventory.count}}"
                                            data-inventory-count="{{item.inventory.count}}">
                                        <!-- Form buttons to increase bag quantity disables at inventory max value -->
                                        <div class="input-group-append">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-secondary bi bi-plus-lg" data-type="plus" data-field="">
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <!-- Item subtotal with link to checkout -->
                            <td>£{{ item.subtotal }}</td>
                            <td><a href = "{% url 'remove_from_bag' item.inventory.id %}"><i class="bi bi-trash3"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <!-- Grand total including delivery -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class = "col d-flex flex-column align-items-end">
                                <p><strong>Delivery:</strong></p>
                                <p><strong>Grand Total:</strong></p>
                            </div>
                            <div class="col d-flex flex-column align-items-end">
                                <p>£{{delivery}}</p>
                                <p>£{{grand_total}}</p>
                            </div>
                            <div class = "d-flex justify-content-end">
                                <a href="{% url 'all_products' %}" class="btn btn-dark me-2"><i class="bi bi-chevron-double-left"></i>Continue Shopping</a>
                                <a class="btn btn-primary" href="{% url 'checkout' %}">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <p>Your bag is empty</p>
            {% endif %}
        </div>
    </div>
</div>
<!-- As above but display structure for mobile devices -->
<div class=" d-md-none container content">
    <!-- Table to display bag items if they exist -->
    {% if bag_items %}
    <div class="container table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in bag_items %}
                <tr>
                    <td class="w-50">
                        <img class="img-fluid rounded h-150px"
                            src="{% if item.inventory.product.image %} {{ item.inventory.product.image.url }} {% else %} {% static 'img/garbage-home-triple.webp' %} {% endif %}"
                            alt="{{item.inventory.product.friendly_name}}">
                    </td>
                    <td>
                        <p>
                            {{item.inventory.product.brand | upper }}
                        </p>
                        <p>
                            {{item.inventory.product.friendly_name}}
                        </p>
                        <p>
                            Size: {{item.inventory.size}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- Form to adjust quantity of items in bag if not exceeding inventory count or below 0-->
                    <td style="width:150px">
                        <form id="update_qty" method="POST" action="{% url 'adjust_bag' item.inventory.id %}">
                            {% csrf_token %}
                            <div class="input-group d-flex">
                                <!-- Button to decrease bag quantity -->
                                <div class="input-group-prepend">
                                    <span class="input-group-btn">
                                        <button type="submit"
                                            class="quantity-left-minus btn btn-secondary bi bi-dash-lg"
                                            data-type="minus" data-field="">
                                        </button>
                                    </span>
                                </div>
                                <!-- Button to increase bag quantity -->
                                <input type="number" id="quantity" name="quantity" class="form-control qty_input qty-input input-number" value="{{item.quantity}}" min="1" max="{{item.inventory.count}}" data-inventory-count="{{item.inventory.count}}">
                                <div class="input-group-append">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-secondary bi bi-plus-lg" data-type="plus" data-field="">
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>£{{ item.subtotal }}</td>
                    <!-- Styled link to remove items from bag -->
                    <td>
                        <a class = "text-reset" href = "{% url 'remove_from_bag' item.inventory.id %}"><i class="bi bi-trash3"></i></a>
                    </td>  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Total cost displayed -->
    <div class = " container d-flex flex-column align-items-end">
        <p><strong>Delivery: ${{delivery}}</strong></p>
        <p><strong>Grand Total: ${{grand_total}}</strong></p>
    </div>
    <!-- Buttons to proceed to checkout -->
    <div class = "container d-flex justify-content-end">
        <a href="{% url 'all_products' %}" class="btn btn-dark me-2"><i class="bi bi-chevron-double-left"></i>Continue Shopping</a>
        <a class="btn btn-primary" href="{% url 'checkout' %}">Proceed to Checkout</a>
    </div>
    {% else %}
    <p>
        You're bag is empty.
    </p>
    {% endif %}
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'bag/js/bag.js' %}"></script>
{% endblock %}