{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid content">
<div id="carouselExampleCaptions" class="carousel slide d-none d-sm-flex position-relative" data-bs-ride="carousel">
    <div class = "container-fluid position-absolute top-0 start-0 w-100 h-100" id="overlay-text">
        <div class="row h-100 w-100">
            <div class="col col-md-6 d-flex flex-column align-items-center justify-content-center z-index-9999">
                <h1 class="z-index-9999 white-text font-size-3em text-uppercase ms-5 me-auto">Learn to Scuba Dive</h1>
                <p class="white-text align-self-start fs-4 ms-5 me-auto">Start your Scuba Diving journey with us</p>
                <a class="align-self-start btn btn-primary fs-3 ms-5 me-auto" href="#">Start Now</a>
            </div>
            <div class="d-none col-md-6"></div>
        </div>
    </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item height-85 active">
            <!-- Image Oleksandr Sushko unsplash -->
            <img src="{% static 'img/learn-to-scuba-home.jpg' %}" class="d-block w-100" alt="dolphins with coral">
        </div>
        <div class="carousel-item height-85">
            <img src="{% static 'img/learn-to-scuba-home-2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item height-85">
            <img src="{% static 'img/home-carousel-1.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<div>
    <hr>
</div>
<div class = "container">
    <div class="row d-flex justify-content-around">
        <div class="col-md mt-3">
            <div class="card mx-auto no-border">
                <img class="card-img-top mx-auto" src="{% static 'img/learn-to-dive-with-us.jpg' %}" alt="Learn to dive">
                <div class="card-body">
                  <h5 class="card-title">LEARN TO DIVE</h5>
                  <p class="card-text">Discover Scuba with us...</p>
                  <a href="#" class="btn btn-primary">Try it now</a>
                </div>
            </div>
        </div>
        <div class="col-md mt-md-3">
            <div class="card mx-auto no-border">
                <img class="card-img-top" src="{% static 'img/continue-diving-education.jpg' %}" alt="continue diving">
                <div class="card-body">
                  <h5 class="card-title">CONTINUE DIVING</h5>
                  <p class="card-text">Learn diving specialties and niches</p>
                  <a href="#" class="btn btn-primary">Join us</a>
                </div>
              </div>
        </div>
        <div class="col-md mt-md-3">
            <div class="card mx-auto no-border">
                <img class="card-img-top" src="{% static 'img/gopro.jpg' %}" alt="go pro">
                <div class="card-body">
                  <h5 class="card-title">PRO DIVING COURSES</h5>
                  <p class="card-text">Work the dream...</p>
                  <a href="#" class="btn btn-primary">Go Pro</a>
                </div>
              </div>
        </div>
    </div>
</div>
<div>
    <hr>
</div>
<div class="container-fluid p-0">
    <div id="shop-now-holder" class="bg-img-holder-home">
        <div class="holder-home-inner">
            <div class="home-inner-headline">
                <h2><strong>SCUBA DIVING EQUIPMENT</strong></h2>
            </div>
            <div class="home-inner-body">
                <p>
                    EQUIPMENT TRUSTED BY OUR INSTRUCTORS
                </p>
            </div>
            <div role="button" class="home-inner-button-container">
                <a id="shop-now" href="{% url 'all_products' %}">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<div>
    <hr>
</div>
</div>



{% endblock %}
