{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="my-5">
                    PROFILE / EDIT
                </h1>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center content align-items-center p-5">
        <div class="col-12 col-md-5 mb-5 my-auto bg-light bg-gradient rounded">
            <h1 class="text-center p-3 fs-3">MY DETAILS</h1>
            <form method="POST" class="p-3">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button class="btn btn-primary ms-auto me-3" type="submit">Save</button><a href="{{ view.get_success_url }}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</section>

{% endblock %}