@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* root colors and styles */
:root {
    --body-font:'Urbanist', sans-serif;
    --body-weight: 200;
    --heading-weight: 600;
    --heading-font: 'Urbanist', sans-serif;
    --staff-color:goldenrod;
    --ocean-blue:rgb(49,86,115);
    --baby-blue:rgb(104,182,242);
    --spume:rgb(83,146,194);
}
html, body{
    height: 100%;
}

body {
    height:100%;
    display:flex;
    flex-direction:column;
    padding: 0;
    margin:0;
    font-family: var(--body-font);
    font-weight: var(--body-weight);
}

h1,h2,h3,h4,h5,h6{
    font-weight: var(--heading-weight);
}

.navbar-nav a{
    font-weight:600;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    padding: 0;
    margin:0;
}

.logo{
    height:70px;
}

.staff{
    color: var(--staff-color);
    font-weight:bold;
}

#mc_embed_signup .foot{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    align-items: center;    
}

#mc_embed_signup h2{
    margin-bottom:10px;
}

#mc_embed_signup input{
    border-color: black;
}

#mc_embed_signup .asterisk{
    color: black;
}



/* --Style bag icon--------------------------------------- */
.bi-bag{
    font-size: 1.5em;
}

.bi-person{
    font-size: 1.7em;
}

.white-text{
    color: rgba(255,255,255,1);
}

.black-text{
    color:black;
}



.dropdown-menu[data-bs-popper].left-auto{
    left:auto;
    right:0;
}


#mc_embed_signup {
    background: #fff;
    clear: left;
    width: 600px;
  }

.visually_hidden { 
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px; 
}

#mce-responses{
    width:0;
    margin:0;
}

.bag-qty{
    position: absolute;
    top:0;
    right:0;
}

.border-radius-50{
    border:1px solid black;
    border-radius:50%;
}

.bag-qty.border-radius-50{
    width:20px;
    height:20px;
}

.bag-qty-container{
    position:relative;
}

/* ---Hide spinners in number fields (W3Schools)-----------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* -----------Toasts---------------------------------------*/
.message-container{
    position: fixed;
    top:72px;
    right:72px;
    z-index: 9999999;
    max-width: 200px;
}

.toast-info{
    border:3px solid var(--spume);
}

.toast-success{
    border:3px solid green;
}

/*------------Profile Pages--------------------------------*/
.vh-90{
    height:80vh;
}

/*------------Styling home page ---------------------------*/

.navbar{
    z-index: 100000;
}

.z-index-9999{
    z-index:9999;
}

.black-background-filter{
    background-color: rgba(5, 5, 5, 0.3);
}

.font-size-3em{
    font-size:3em;
}

.height-85{
    height:85vh;
}

.carousel-item img{
    object-fit: cover;
    object-position: center center;
    height: 100%;
}

#carouselExampleIndicators{ 
    width:100%;
}

.cover-center-h100{
    object-fit: cover;
    object-position: center center;
    height: 100%;
}

.bg-img-holder-home {
    align-items: center;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    padding: 21px 21px 42px 21px;
    min-height: 300px;
  }

.bg-img-holder-home::after{
    content: '';
    background-image: url(../img/scuba-equipment-shop.webp);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: calc(100 / 100);
}


.holder-home-inner{
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.home-inner-headline {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 55px;
    font-weight: 400;
    min-height: 48px;
    color: rgba(255,255,255,1);
}

.home-inner-body {
    font-size: 18px;
    margin-top: 8px;
    min-height: 27px;
    color: rgba(255,255,255,1);
}

.home-inner-button-container {
  background: rgba(36,47,109,1);
  border: none;
  color: rgba(255,255,255,1);
  cursor: pointer;
  font-size: 18px;
  margin-top: 24px;
  outline: none;
  padding: 8px 24px;
  pointer-events: auto;
  text-decoration: none;
  border-radius: 4px;
  font-family: inherit;
}

.home-inner-button-text {
    color: rgba(255,255,255,1);
    cursor: pointer;
    font-size: 18px;
    pointer-events: auto;
    font-family: inherit;
  }

.btn-primary{
    background-color:var(--ocean-blue);
    border:var(--ocean-blue);
}

.btn-primary:hover{
    background-color:var(--spume);
    border:var(--spume);
}

.btn-ocean-blue{
    background-color:var(--ocean-blue);
    border:var(--ocean-blue);
}

.btn-outline-success{
    border-color:var(--spume);
    color: var(--spume);
}

.btn-outline-success:hover{
    background-color:var(--spume);
    border:var(--spume);
    color:white;
}

.btn-baby-blue{
    background-color:var(--baby-blue);
    border:var(--baby-blue);
}

.shop-now{
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.card.no-border{
    border:none;
}

.bg-img-holder-home.about-background{
    background-image: url(../img/get-in-touch-learn-to-scuba-dive.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: auto;
}

@media screen and (min-width: 801px) {
    .bg-img-holder-home {
        max-height: none;
        min-height: 500px;
        padding: 32px 42px;
    }

    .home-inner-headline {
        min-height: 50px;
        color: rgba(255, 255, 255, 1);
    }

    .home-inner-body {
        color: rgba(255, 255, 255, 1);
        min-height: 31px;
        margin-top: 8px;
    }

    .home-inner-button-container {
        background: rgba(36, 47, 109, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 21px;
    }
}


/* -----------------Products List Pages---------------------- */

.col-sm.product-list{
    width:320px;
}

.height-160px{
    height: 160px;
}

.height-320px{
    height: 320px;
}

.width-320px{
    width: 320px;
}

.no-wrap{
    white-space: nowrap;
}

.product-list-image{
    width:198px; 
    height:198px; 
    object-fit:contain;
}

.border-none{
    border:none;
}


@media screen and (min-width: 801px) {
    .card.product-list {
        max-width: 200px;
    }
}


/* -------------------Create / Edit Product ----------------- */

.font-size-96{
    font-size:96px;
}

.white-text{
    color: white;
}

.h-150px{
    height: 150px;
}

.form-control.qty_input{
    width: 25px;
}

.bold{
    font-weight: bold;
}

/* ----------auth pages------------------------------ */

@media only screen and (min-width : 992px) {
    .auth-pages-border{
        border:1px solid black;
        border-radius: 25px;
    }
    .auth-background{
        background-image: url(../img/dive-shop-sign-in.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
