{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<div class = "col-12 col-lg-4 d-flex flex-column mt-5 p-3 auth-pages-border bg-light">
    <div class="w-100 d-flex align-items-center">
  <h1 class = "fs-3 text-uppercase w-75">{% trans "Password Reset" %}</h1>
  <img class = "w-25" src="{% static 'img/form-logo.webp' %}" alt="scubasport logo">
  </div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-primary mt-3" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}