{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container content">
    <div class="row">
      <div class="col">
        <h1 class="my-5">
          COURSES
        </h1>
      </div>
    </div>
</div>

<div class="content container">
    {% for object in object_list %}
    <div class="row d-flex {% if forloop.counter|divisibleby:2 %} flex-row-reverse {% endif %} mb-3">
        <div class="col-12 col-md-6 d-flex flex-column">
            <h2>{{ object.friendly_name }}</h2>
            <div>{{ object.description | linebreaks }}</div>
            <p><strong>Duration:</strong> {{ object.duration_weeks }} week</p>
            <p><strong>Price:</strong> ${{object.price}} </p>
            <div class = "align-self-end">
            <a class = "btn btn-primary  me-3" href="{% url 'contact' %}">Enquire now</a><a class = "btn btn-primary" href="{% url 'course_detail' object.slug %}">More Details</a>
            </div>
        </div>
        <div class="col-12 col-md-6">
            {% if not object.image %}
            <img src="" alt="awaiting image" class="img-responsive my-3 w-100">
            {% else %}
            <img src="{{ object.image.url }}" alt="{{ object.friendly_name }}" class="course-list-image img-responsive w-100 my-3">
            {% endif %}
        </div>
    </div>
    <div class = "container content my-3">
        <hr class = "my-3">
    </div>
    {% endfor %}
</div>

{% endblock %}