{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section>
    <div class="d-flex align-items-center p-5">
        <div class="container">
            <div class="row">
                <div class="col-sm col-lg-8 col-xl-8 col-xxl-8 d-flex align-items-center justify-content-center pb-5">
                    <p class="heading-font text-center font-size-96 mb-5">Product Creation <br> and Editing</p>
                </div>
                <div class="col-sm col-lg-4 col-xl-4 col-xxl-4 translucent-body mb-5">
                    <form method="POST" class="p-1">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}