{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="my-5">
          DELETE COLOR
        </h1>
      </div>
    </div>
</div>
<div class = "w-25 mx-auto border rounded p-5 ">
    <form action='.' method='POST'>{% csrf_token %}
        <h1>Are you sure you want to delete {{ object.name }}?</h1>
        <p><input class = "btn btn-primary" type = 'submit' value='Yes' />  <a class = "btn btn-secondary" href='../'>Cancel</a></p>
    </form>
</div>

{% endblock %}