{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="my-5">
                SHOP
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="d-none d-lg-block col-lg-3">
            {% for category in categories %}
            <h5>{{ category.name }}</h5>
            {% endfor %}
        </div>
        <div class="col">
            <div class="row mb-5">
                <div class = "col">
                    <form>
                            {{ filter.form }}
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
                <div class="pagination">
                    {% load my_tags %}

                    {% if is_paginated %}
                      {% if page_obj.has_previous %}
                        <a href="?{% param_replace page=1 %}">First</a>
                        {% if page_obj.previous_page_number != 1 %}
                          <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
                        {% endif %}
                      {% endif %}
                    
                      Page {{ page_obj.number }} of {{ paginator.num_pages }}
                    
                      {% if page_obj.has_next %}
                        {% if page_obj.next_page_number != paginator.num_pages %}
                          <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
                        {% endif %}
                        <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
                      {% endif %}
                    
                      <p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
                    {% endif %}
                </div>
            <div class="row">
                {% for product in object_list %}
                <div class="col-sm product-list">
                    <div class="card product-list mx-auto ms-md-0" style="width:320px;">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.slug %}"><img class="card-img-top"
                            src="{{ product.image.url }}" alt="Card image cap""></a>
                        {% else %}
                        <a href="{% url 'product_detail' product.slug %}"><img class="card-img-top"
                                src="{% static 'img/garbage-home-triple.webp' %}" alt="Card image cap""></a>
                        {% endif %}
                        <div class=" card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                        </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">£{{product.price}}</li>
                        <li class="list-group-item">Rating: {{product.rating}}</li>
                    </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% for product in object_list %}

{{product.name}}

<a href="{% url 'product_detail' product.slug %}">Click here</a>

{% endfor %}

{% endblock %}





<!-- Test code for reverse relationship lookup


<h1>This is the products page</h1>
{{ products }}

{% for product in products %}
    Rendering the product: {{ product }}
    Rendering the product color: {{ product.color }}
    {% for product in product.inventory_set.all %}
        product: {{product.product}}
        qty: {{ product.count }}
        color: {{ product.color }}
    {% endfor %}
{% endfor %}



-->