{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="my-5">
                SHOP
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-3">
            <h2 class = "fs-6">CATEGORIES</h2>
            <hr>
            {% for category in categories %}
            <p><a class = "text-decoration-none text-reset" href="{% url 'all_products' %}?category__name__iexact={{category.name}}">{{ category.friendly_name }}</a></p>
            {% endfor %}
        </div>
        <div class="col">
            <div class="row mb-5">
                <div class = "col d-flex flex-column justify-content-end align-items-end me-5">
                    <form class = "w-75 d-flex justify-content-end align-items-center">
                        {{ filter.form.name__iexact.as_hidden}}
                        {{ filter.form.category__name__iexact.as_hidden}}
                        {{ filter.form.brand__name__iexact.as_hidden}}
                        <label for="id_ordering">Order by:</label>
                        <input type="hidden" name = "q" value = "{{request.GET.q }}">
                        {{ filter.form.ordering }}
                        <button type="submit" class="btn btn-primary px-2 py-0 mx-2">Search</button>
                    </form>
                    <div class="pagination">  
                        {% if is_paginated %}
                          {% if page_obj.has_previous %}
                            <a href="?{% param_replace page=1 %}"><i class="bi bi-chevron-bar-left"></i></a>
                            {% if page_obj.previous_page_number != 1 %}
                              <a href="?{% param_replace page=page_obj.previous_page_number %}"><i class="bi bi-chevron-left"></i></a>
                            {% endif %}
                          {% endif %}                        
                          Page {{ page_obj.number }} of {{ paginator.num_pages }}                        
                          {% if page_obj.has_next %}
                            {% if page_obj.next_page_number != paginator.num_pages %}
                              <a href="?{% param_replace page=page_obj.next_page_number %}"><i class="bi bi-chevron-right"></i></a>
                            {% endif %}
                            <a href="?{% param_replace page=paginator.num_pages %}"><i class="bi bi-chevron-bar-right"></i></a>
                          {% endif %}                        
                        {% endif %}
                    </div>
                </div>
            <div class="row">
                <div class="col-sm product-list d-flex flex-wrap">
                {% for product in object_list %}
                    <div class="card product-list m-3 me-md-3">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.slug %}"><img class="card-img-top product-list-image"
                            src="{{ product.image.url }}" alt="Card image cap"></a>
                        {% else %}
                        <a href="{% url 'product_detail' product.slug %}"><img class="card-img-top"
                                src="{% static 'img/garbage-home-triple.webp' %}" alt="Card image cap"></a>
                        {% endif %}
                        <div class=" card-body">
                            <p class="card-title fs-6"><strong>{{product.friendly_name}}</strong></p>
                        </div>
                    <ul class="list-group list-group-flush border-top-0">
                        <li class="list-group-item border-0">$ {{product.price}}</li>
                        <li class="list-group-item border-0"><a href="{% url 'product_detail' product.slug %}" class="btn btn-light">Details</a></li>
                    </ul>
                    </div>
                    {% empty %}
                      <p class="text-center w-100 fs-6 mt-5">Sorry no products match your search</p>
                {% endfor %}
            </div>
            <div class="pagination justify-content-end">  
                {% if is_paginated %}
                  {% if page_obj.has_previous %}
                    <a href="?{% param_replace page=1 %}"><i class="bi bi-chevron-bar-left"></i></a>
                    {% if page_obj.previous_page_number != 1 %}
                      <a href="?{% param_replace page=page_obj.previous_page_number %}"><i class="bi bi-chevron-left"></i></a>
                    {% endif %}
                  {% endif %}                        
                  Page {{ page_obj.number }} of {{ paginator.num_pages }}                        
                  {% if page_obj.has_next %}
                    {% if page_obj.next_page_number != paginator.num_pages %}
                      <a href="?{% param_replace page=page_obj.next_page_number %}"><i class="bi bi-chevron-right"></i></a>
                    {% endif %}
                    <a href="?{% param_replace page=paginator.num_pages %}"><i class=" me-4 bi bi-chevron-bar-right"></i></a>
                  {% endif %}                        
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
