{% extends "base.html" %}
{% load static %}

{% block content %}

{% with product.inventory_set.all as inventory %}

<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="my-5">
          PRODUCT DETAILS
        </h1>
      </div>
    </div>
</div>

<div class="container">
    <div class="row" style="min-height:50px;">
        <div class="col">
            {% if request.user.is_staff %}
            <hr>
            <div class="container d-flex align-items-center justify-content-center my-5">
            <div><strong>Staff Action: </strong></div>
            <a class="btn btn-primary mx-3" href="{% url 'update_product' product.slug %}"> Update product description</a>
            <a class="btn btn-danger mx-3" href="{% url 'delete_product' product.slug %}"> Delete product</a>
            </div>
            <hr>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 {% if not product.image %}{% endif %}">
            {% if product.image %}
            <img class="img-fluid" src="{{product.image.url}}" alt="{{product.name}}">
            {% else %}
            <p class = 'fs-4 text-center my-auto'>AWAITING IMAGE</p>
            {% endif %}
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-auto">
            <h1 class="fs-2 mb-4">{{ product.name }}</h1>
            <h2 class="fs-5 my-3">{{ product.brand | upper }}</h2>
            <h3 class="fs-5 my-3">$ {{ product.price}}</h3>
            <div class="w-lg-75 my-4">{{ product.description | linebreaks }}</div>
            <form method="POST" action="{% url 'add_to_bag' product.slug %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="mb-3" for="exampleFormControlSelect1"><strong>Select size:</strong></label>
                    <select name="stockable" class="form-control w-50" id="exampleFormControlSelect1">
                        {% for variant in inventory %}
                        <option class="size-option" value="{{ variant.size }}" data-sku="{{variant.sku}}" data-session-quantity="{% if bag_items %} {% for item in bag_items %} {% if item.inventory.sku == variant.sku %}{{ item.quantity }}{% endif %}{% endfor %}{% endif %}" data-count="{{ variant.count }}">{{variant.size}}</option>
                        {% endfor %}
                    </select>
                    <p class="mt-3"><strong>Quantity:</strong></p>
                    <div class="form-group d-flex">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-secondary bi bi-dash-lg" data-type="minus" data-field="">
                                        </button>
                                    </span>
                                </div>
                                <input class="form-control qty_input qty-input input-number" type="number" name="quantity" value="0" min="0" max="{{ variant.count }}" id="id_qty" data-sku="">
                                <div class="input-group-append">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-secondary bi bi-plus-lg" data-type="plus" data-field="">
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class = "mt-1">
                            <div>
                        <input type="submit" value="Add to Cart" class="btn btn-primary">
                        <a class = "btn btn-primary" href="{% url 'view_bag' %}">Go to bag</a>
                    </div>
                        <a href="{% url 'all_products' %}" class="btn btn-dark mt-2"><i class="bi bi-chevron-double-left"></i>Continue Shopping</a>
                    </div>
                    <input type="hidden" name="sku" value="" id="sku">
                    <input type="hidden" name="redirect_url" value="{{request.path}}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}
