{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="my-5">
                SHOP
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-3">
            <h2 class = "fs-6">CATEGORIES</h2>
            <hr>
            {% for category in categories %}
            <p>{{ category.name }}</p>
            {% endfor %}
        </div>
        <div class="col">
            <div class="row mb-5">
                <div class = "col d-flex flex-column justify-content-end align-items-end">
                    <form class = "w-75 d-flex justify-content-end align-items-center">
                        {{ filter.form.name__iexact.as_hidden }}
                        {{ filter.form.category__name__iexact.as_hidden }}
                        <label for="id_ordering">Order by:</label>
                        {{ filter.form.ordering }}
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                    <div class="pagination">
                        {% load my_tags %}    
                        {% if is_paginated %}
                          {% if page_obj.has_previous %}
                            <a href="?{% param_replace page=1 %}">First</a>
                            {% if page_obj.previous_page_number != 1 %}
                              <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
                            {% endif %}
                          {% endif %}                        
                          Page {{ page_obj.number }} of {{ paginator.num_pages }}                        
                          {% if page_obj.has_next %}
                            {% if page_obj.next_page_number != paginator.num_pages %}
                              <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
                            {% endif %}
                            <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
                          {% endif %}                        
                          <p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
                        {% endif %}
                    </div>
                </div>
            <div class="row">
                <div class="col-sm product-list d-flex flex-wrap">
                {% for product in object_list %}
                    <div class="card product-list m-3 me-md-3" style="width:320px;">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.slug %}"><img class="card-img-top"
                            src="{{ product.image.url }}" alt="Card image cap""></a>
                        {% else %}
                        <a href="{% url 'product_detail' product.slug %}"><img class="card-img-top"
                                src="{% static 'img/garbage-home-triple.webp' %}" alt="Card image cap""></a>
                        {% endif %}
                        <div class=" card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                        </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">£{{product.price}}</li>
                        <li class="list-group-item">Rating: {{product.rating}}</li>
                    </ul>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}





<!-- Test code for reverse relationship lookup


<h1>This is the products page</h1>
{{ products }}

{% for product in products %}
    Rendering the product: {{ product }}
    Rendering the product color: {{ product.color }}
    {% for product in product.inventory_set.all %}
        product: {{product.product}}
        qty: {{ product.count }}
        color: {{ product.color }}
    {% endfor %}
{% endfor %}



-->